原始内容：{$name}<hr>
<!--{$name|capitalize}-->
<!--{$name|count_characters}-->
<!--{$name|cat:"PHP演示"}-->
<!--{$name|count_paragraphs}-->
<!--{$name|count_sentences}-->
<!--{$name|count_words}-->
<!--{$name|date_format:'%Y-%m-%d'}-->
<!--{$smarty.now|date_format:'%Y-%m-%d'}-->
<!--{$name1|default:"没有时间"}-->
<!--{$name|escape:"url"}-->
<!--{$name|indent:10:"...."}-->
<!--{$name|lower}-->
<!--{$name|upper}-->
<!--{$name|replace:"is":"**"}-->
<!--{$name|replace:"is":"**"}-->
<!--{$name|spacify}-->
<!--{$name|spacify:_}-->
<!--{$name|string_format:'%.2f'}-->
<!--{$name|strip:'_'}-->
<!--{$name|strip_tags}-->
<!--{$name|truncate:30:'...'}-->
{$name|wordwrap:10:'<br>'}