<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>居然之家网店首页</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/red.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="content border_bottom">
	 <ul id="sub_nav">
		 <li><a href="#">设为首页</a></li>
		 <li><a href="#">加入收藏</a></li>
		 <li class="nobg"><a href="#">联系我们</a></li>
	 </ul>
	      <img src="img/logo.gif" alt="居然之家" name="logo" width="200" height="75" id="logo" /><br class="clear" />
</div>
<div class="content dgreen-bg">
     <div class="content">
	 <ul id="main_nav">
		 <li class="nobg"><a href="#">网店首页</a></li>
		 <li><a href="#">公司介绍</a></li>
		 <li><a href="#">资质认证</a></li>
		 <li><a href="#">产品展示</a></li>
		 <li><a href="#">视频网店</a></li>
		 <li><a href="#">招商信息</a></li>
		 <li><a href="#">招聘信息</a></li>
		 <li><a href="#">促销活动</a></li>
		 <li><a href="#">企业资讯</a></li>
		 <li><a href="#">联系我们</a></li>
	 </ul><br class="clear" />
	 </div>
</div>
<div class="content">
     <div id="left-nav-bar" class="bg_white">
	      <p id="top-contact-info">导航1<br />
	      导航2</p>
  </div> 
  <div id="right-cnt"><br class="clear" />
    <div class="pages">
      <h2>类别</h2>
      <span>新闻标题</span>
      <div id="more"><a href="#">时间</a></div>
    </div>
     <div class="listtt">
      <h2><a href="">类别</a></h2>
      <span><a href="">新闻标题新闻标题新闻标题新闻标题新闻标题</a></span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
         <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>     <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>     <div class="listtt">
      <h2>类别</h2>
      <span>新闻标题新闻标题新闻标题新闻标题新闻标题</span>
      <div id="more"><a href="#">09/09</a></div>
    </div>
			</div>
  
  <br class="clear" />
</div>
<div id="about">
     <div class="content">
	      <span class="left"><a href="#">网店首页</a> | <a href="#">公司介绍</a> | <a href="#">资质认证</a> | <a href="#">产品展示</a> | <a href="#">视频网店</a> | <a href="#">招商信息</a> | <a href="#">招聘信息</a> | <a href="#">促销活动</a> | <a href="#">企业资讯</a> | <a href="#">联系我们</a></span>
		  <span class="right">目前已有[2222]点击</span>
	 </div>
</div>
<p id="copyright">
</p>
</body>
</html>
