body{
   color:#000;
   background:#FDFDEE url(../img/bg1.gif) 0 0 repeat-x;
}

#container{
  background:transparent url(../img/dot-bg.jpg) 0 0 repeat-x;
  color:#000;
}

.border_bottom3{
  border-bottom:3px solid #CDCDCD;
}

#sub_nav{
  background-color:#1D4009;
}

#sub_nav li{
  background:transparent url(../img/white-lt.gif) 100% 5px no-repeat;
  color:#FFF;
}

#sub_nav li a:link{
  color:#FFF;
}

#sub_nav li a:visited{
  color:#FFF;
}

#sub_nav li a:hover{
  color:#FFF;
}

.dgreen-bg{
  background-color:#1C3F09;
  width:100%;
  height:34px;
  border-bottom:20px solid #B6B683;
  border-top:3px solid #85B512;
}

#main_nav li{
  color:#FFF;
  background:transparent url(../img/lt2.gif) 0 10px no-repeat;
}

#main_nav li a:link{
  color:#FFF;
}

#main_nav li a:visited{
  color:#FFF;
}

#main_nav li a:hover{
  color:#FFF;
}

#top-adv{
  border:1px solid #B6B683;
  border-bottom:4px solid #B6B683;
}

#top-contact-info{
  color:#565615;
  background:transparent url(../img/contact-bg.gif) 0 2px no-repeat;
}

#left-nav-bar{
  background:#E7E7D6 url(../img/left.gif) 0 0 repeat-x;
}

#left-nav-bar h2{
  color:#3E650C;
  background:transparent url(../img/green-tab.gif) 8px 12px no-repeat;
  letter-spacing:1px;
  border-bottom:1px solid #ABABAB;
}

#left-nav-bar ul li{
  background:transparent url(../img/black-dot.jpg) 3px 9px no-repeat;
}

#left-nav-bar h3{
  border-top:1px solid #D8CECD;
  border-bottom:1px solid #D8CECD;
  color:#6E1920;
}

#right-cnt p{
  color:#4D4D4D;
}

.pages{
  background-color:#B6B683;
  border-bottom:3px solid #4D4D37;
}

.pages h2{
  color:#3F4808;
  background:url(../img/coffee-tab.gif) 1px 1px no-repeat;
}

#tags{
  background-color:#F6F6F6;
}

#products-list li ul li{
  border-top:1px dashed #000;
  color:#6F6F6F;

}

#products-list li ul li span{
  color:#C80000;
}

div.col_center{
  border:1px solid #B6B683;
  background:transparent url(../img/c-bg.gif) 100% 100% no-repeat;
}

.sub-title h2{
  background:transparent url(../img/green-tab.gif) 6px 1px no-repeat; 
  color:#3E650C;
}

div.col_center p#intro{
  color:#426A0C;
}

div.col_center ul li{
  background:transparent url(../img/black-dot.jpg) 3px 8px no-repeat;
}

div.col_center ul li a:link{
  color:#426A0C;
}

div.col_center ul li a:visited{
  color:#426A0C;
}

div.col_center ul li a:hover{
  color:#426A0C;
}

#right-list li{
  background:transparent url(../img/black-dot.jpg) 5px 16px no-repeat;
  border-bottom:1px solid #CECECE;
}

#about{
  background-color:#1C3F09;
  width:100%;
  padding:10px 0 10px 0;
  height:14px;
  border-top:3px solid #85B512;
  text-align:left;
  color:#FFF;
}

#about a:link{
  color:#FFF;
}

#about a:visited{
  color:#FFF;
}

#about a:hover{
  color:#FFF;
}
-->